# Tugas 7 (Credit Score Prediction)

In [5]:
#Importing multiple library to read,analysed and visualized the dataset

import pandas as pd
import numpy as np
from sklearn import preprocessing

In [3]:
# dataset
df = pd.read_csv('https://raw.githubusercontent.com/HamedAyani114/dataset/main/credit_score.csv')

# Information Dataset

In [4]:
df

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2
...,...,...,...,...,...,...,...,...
895,896,AGR-010739,112,YA,48,5,> 90 days,5
896,897,AGR-010744,120,YA,48,2,46 - 60 days,3
897,898,AGR-010758,166,TIDAK,24,2,0 - 30 days,1
898,899,AGR-010775,196,TIDAK,48,0,31 - 45 days,2
899,900,AGR-010790,204,TIDAK,24,2,0 - 30 days,1

In [8]:
le = preprocessing.LabelEncoder()
le.fit(["0 - 30 days", "31 - 45 days", "46 - 60 days", "61 - 90 days", "> 90 days"])

list(le.classes_)

LabelEncoder()

In [12]:
df

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2
...,...,...,...,...,...,...,...,...
895,896,AGR-010739,112,YA,48,5,> 90 days,5
896,897,AGR-010744,120,YA,48,2,46 - 60 days,3
897,898,AGR-010758,166,TIDAK,24,2,0 - 30 days,1
898,899,AGR-010775,196,TIDAK,48,0,31 - 45 days,2
899,900,AGR-010790,204,TIDAK,24,2,0 - 30 days,1

In [17]:
from sklearn.preprocessing import LabelEncoder
# creating initial dataframe
rata_rata_overdue = ("0 - 30 days", "31 - 45 days", "46 - 60 days", "61 - 90 days", "> 90 days")
rata_rata_overdue_df = pd.DataFrame(rata_rata_overdue, columns=['rata_rata_overdue'])
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
rata_rata_overdue_df['rata_rata_overdue_Cate'] = labelencoder.fit_transform(rata_rata_overdue_df['rata_rata_overdue'])

In [18]:
df_new=pd.concat(rata_rata_overdue_df, df)
df_new

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  """Entry point for launching an IPython kernel.

TypeError: ignored

In [19]:
avgoverdue_cat=df["rata_rata_overdue"].map({
    "0 - 30 days":0, 
    "31 - 45 days":1, 
    "46 - 60 days":2, 
    "61 - 90 days":3, 
    "> 90 days":4}
)

In [14]:
df

,Unnamed: 0,kode_kontrak,pendapatan_setahun_juta,kpr_aktif,durasi_pinjaman_bulan,jumlah_tanggungan,rata_rata_overdue,risk_rating
0,1,AGR-000001,295,YA,48,5,61 - 90 days,4
1,2,AGR-000011,271,YA,36,5,61 - 90 days,4
2,3,AGR-000030,159,TIDAK,12,0,0 - 30 days,1
3,4,AGR-000043,210,YA,12,3,46 - 60 days,3
4,5,AGR-000049,165,TIDAK,36,0,31 - 45 days,2
...,...,...,...,...,...,...,...,...
895,896,AGR-010739,112,YA,48,5,> 90 days,5
896,897,AGR-010744,120,YA,48,2,46 - 60 days,3
897,898,AGR-010758,166,TIDAK,24,2,0 - 30 days,1
898,899,AGR-010775,196,TIDAK,48,0,31 - 45 days,2
899,900,AGR-010790,204,TIDAK,24,2,0 - 30 days,1